html{
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    background-color: rgb(25, 36, 36);
}
.MotherFlexContainer{
    display: flex;
    flex-direction: column;
    background-color: beige;
}



body{
    width: 90%;
    margin:5% 5% 5% 5%;
}
header{
    display: flex;
    flex-direction: column;
    background-color: rgba(170, 153, 153, 0.288);
    width: 90%;
    margin-bottom: 5%;
}

header:first-child{
    padding: 5% 5% 5% 5%;
}

header ul{
    background-color: rgb(42, 42, 51);
}

header ul li{
    display: inline-block;
}

header ul li a{
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 100%;
    margin:5px;
    border: none; text-decoration: none;
}

header ul li a:hover{
    background-color: white;
    color: black;
    transition-delay: 0;
    transition-duration: 1s;
}

.active{
    background-color: white;
    color: rgb(14, 12, 12);
}

/* Here I put some code for dropdown menu */


.dropbtn {
    display: inline-block;
    background-color: black;
    color: white;
    padding: 5px;
    font-size: 100%;
    margin:5px;
    border: none;
}


.dropdown {
    position: relative;
    display: inline-block;
}
  
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
}
  
.dropdown-content a {
    color: white;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
  
.dropdown-content a:hover {
    background-color: white;
    color:black;
}
  
.dropdown:hover .dropdown-content {
    display: block;
    transition-delay: 1s;
}
  
.dropdown:hover .dropbtn {
    background-color: white;
    color:black;
    transition-delay: 0;
    transition-duration: 1s;
}

.dropdown-content .active{
    background-color: white;
    color: rgb(14, 12, 12);
}

main{
    margin-top: 5%;
    padding: 2.5% 5% 5% 5%;
}

main section ul{
    list-style-type: none;
}

main section ul a{
    display: inline-block;
    width: fit-content;
    /* padding: 2%; */
    text-decoration: none;
    color: black;border-radius: 80%;
}

main section ul li:hover{
    border-radius: 5%;
    background-color: gray;
    list-style-type:disc;
    transition-duration: 1s;
}

footer{
    display: flex;
    flex-direction: row;
    margin-top: 5%;
    padding: 5% 5% 5% 5%;
    background-color: rgba(170, 153, 153, 0.938);
}


footer a{
    text-decoration: none;
    color: black;
}

footer i{
    display: inline-block;
    padding:2%;
    margin-right: 2%;
    border-radius: 80%;
}

footer i:hover{
    background-color: rgb(107, 96, 96);
}

/* Here I put some code for styling the website for screens bigger than 500px */

@media all and (min-width:500px) {

    .MotherFlexContainer{
        flex-direction: row;
    }

    header{
        flex-direction: column;
        flex-basis: 30%;
    }

    main{
        flex-basis: 70%;
    }

    header ul {
        background-color: rgba(170, 153, 153, 0.288);
    }

    header ul li{
        display: block;
    }

    footer{
        display: block;
    }

}

/* Here I put the code related to styling the website for the size bigger than 720px */

@media all and (min-width:720px){

    html{
        background-image: linear-gradient(to right,rgb(14, 13, 13),rgb(88, 84, 84));
    }

    .MotherFlexContainer{
        flex-direction: row;
    }

    header{
        flex-direction: column;
        flex-basis: 30%;
    }

    main{
        flex-basis: 70%;
    }

    header ul {
        background-color: rgba(170, 153, 153, 0.288);
    }

    header ul li{
        display: inline-block;
    }

    footer{
        display:flex;
        flex-direction: row;
    }

    footer div{
        display: flex;
        flex-direction: row;
        flex-basis:50%;
    }


    footer div i{
        display: inline-block;
    }

}